<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="border: 1px solid black">
    <tr>
        <th>id</th>
        <th>Address</th>
        <th>Number_User</th>
        <th>Number_F0</th>
    </tr>

    <tr th:each="row, count : ${listaddress}">
        <td th:text="${row.getAddr_id()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><a th:href="@{/User/Number_User/{address}(address= ${row.address})}" th:text="${row.getNumber_user()}"><a/></td>
        <td><a th:href="@{/User/Number_F0/{address}(address= ${row.address})}" th:text="${row.getNumber_f0()}"><a/></td>
    </tr>
</table>
</body>
</html>